// backgrounds and buttons
$main-background: #FFF;
$primary-color: #867dbf;
$default-button: $primary-color;
$default-button-hover: #a206e5;
$dark-button: #461e64;
$dark-button-hover: #a206e5;
$dark-input-color: #E8F4E5;
$bright-button: #867dbf;
$bright-button-hover: #a206e5;
$secondary-background: #E8F4E5;
$spacer-color: #efefef;

// text
$default-text: #333;
$button-text: #fff;
$thin-text-color: #000;
$error-color: #FF3E3E;

// page layout
$page-width: 960px;
$top-margin: 20px;
$box-padding: 40px;
$box-margin: 10px;

// all z-index definitions should go here - make sure to leave a decent gap between them
$z-index-tooltip: 1000;
$z-index-notification: 1100;
